.contactos-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contactos-content {
  flex: 0 0 auto;
  width: 95%;
  display: flex;
  position: relative;
  max-width: 1320px;
  box-shadow: 0px 10px 15px -10px #626262;
  margin-top: -100px;
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius75);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-color: var(--dl-color-secondary-300);
}
.contactos-icon {
  top: -2rem;
  flex: 0 0 auto;
  left: auto;
  right: auto;
  width: 4rem;
  bottom: auto;
  height: 4rem;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-pimary-500);
}
.contactos-icon01 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.contactos-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contactos-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  flex-direction: column;
}
.contactos-text {
  align-self: center;
}
.contactos-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.contactos-localizao {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.contactos-icon03 {
  width: 24px;
  height: 24px;
}
.contactos-text01 {
  text-transform: none;
}
.contactos-link {
  display: contents;
}
.contactos-telefone {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  text-decoration: none;
}
.contactos-icon05 {
  width: 24px;
  height: 24px;
}
.contactos-text04 {
  text-transform: none;
}
.contactos-link1 {
  display: contents;
}
.contactos-telemvel {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  text-decoration: none;
}
.contactos-icon07 {
  width: 24px;
  height: 24px;
}
.contactos-text06 {
  text-transform: none;
}
.contactos-link2 {
  display: contents;
}
.contactos-email {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  text-decoration: none;
}
.contactos-icon09 {
  width: 24px;
  height: 24px;
}
.contactos-text08 {
  text-transform: none;
}
.contactos-link3 {
  display: contents;
}
.contactos-horrio {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  text-decoration: none;
}
.contactos-icon11 {
  width: 24px;
  height: 24px;
}
.contactos-text10 {
  text-transform: none;
}
@media(max-width: 1200px) {
  .contactos-container2 {
    margin-top: var(--dl-space-space-fiveunits);
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twoandhalf);
    border-radius: var(--dl-radius-radius-radius50);
    padding-right: var(--dl-space-space-twoandhalf);
    padding-bottom: var(--dl-space-space-twoandhalf);
    background-color: var(--dl-color-pimary-800);
  }
  .contactos-text {
    color: var(--dl-color-secondary-400);
  }
  .contactos-container3 {
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
    flex-direction: column;
  }
  .contactos-localizao {
    width: 100%;
    height: auto;
    margin-left: var(--dl-space-space-halfunit);
    flex-direction: row;
  }
  .contactos-icon03 {
    fill: var(--dl-color-secondary-400);
    width: 20px;
    height: 20px;
    align-self: center;
    margin-right: var(--dl-space-space-halfunit);
  }
  .contactos-text01 {
    color: var(--dl-color-secondary-500);
  }
  .contactos-telefone {
    width: 100%;
    height: auto;
    margin-left: var(--dl-space-space-halfunit);
    flex-direction: row;
  }
  .contactos-icon05 {
    fill: var(--dl-color-secondary-400);
    width: 20px;
    height: 20px;
    align-self: center;
    margin-right: var(--dl-space-space-halfunit);
  }
  .contactos-text04 {
    color: var(--dl-color-secondary-500);
  }
  .contactos-telemvel {
    width: 100%;
    height: auto;
    margin-left: var(--dl-space-space-halfunit);
    flex-direction: row;
  }
  .contactos-icon07 {
    fill: var(--dl-color-secondary-400);
    width: 20px;
    height: 20px;
    align-self: center;
    margin-right: var(--dl-space-space-halfunit);
  }
  .contactos-text06 {
    color: var(--dl-color-secondary-500);
  }
  .contactos-email {
    width: 100%;
    height: auto;
    margin-left: var(--dl-space-space-halfunit);
    flex-direction: row;
  }
  .contactos-icon09 {
    fill: var(--dl-color-secondary-400);
    width: 20px;
    height: 20px;
    align-self: center;
    margin-right: var(--dl-space-space-halfunit);
  }
  .contactos-text08 {
    color: var(--dl-color-secondary-500);
  }
  .contactos-horrio {
    width: 100%;
    height: auto;
    margin-left: var(--dl-space-space-halfunit);
    flex-direction: row;
  }
  .contactos-icon11 {
    fill: var(--dl-color-secondary-400);
    width: 20px;
    height: 20px;
    align-self: center;
    margin-right: var(--dl-space-space-halfunit);
  }
  .contactos-text10 {
    color: var(--dl-color-secondary-500);
  }
}
