.pessoas-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.pessoas-container01 {
  display: flex;
  flex-direction: column;
}
.pessoas-container02 {
  display: none;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.pessoas-container03 {
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.pessoas-link {
  display: contents;
}
.pessoas-container04 {
  text-decoration: none;
}
.pessoas-container05 {
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.pessoas-link1 {
  display: contents;
}
.pessoas-container06 {
  text-decoration: none;
}
.pessoas-container07 {
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.pessoas-link2 {
  display: contents;
}
.pessoas-container08 {
  text-decoration: none;
}
.pessoas-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.pessoas-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.pessoas-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  min-height: 250px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.pessoas-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.pessoas-container13 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  min-height: 250px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.pessoas-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
