.hero-hero {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  min-height: var(--dl-size-size-herosize);
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("/playground_assets/photo-1-1500w.jpg");
}
.hero-text {
  top: 0px;
  left: 276px;
  color: var(--dl-color-gray-white);
  right: auto;
  bottom: 0px;
  margin: auto;
  z-index: 100;
  text-align: center;
}
.hero-bg {
  top: auto;
  flex: 0 0 auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  display: flex;
  opacity: 0.4;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-black);
}
.hero-root-class-name {
  background-image: url("/playground_assets/quemsomos-bg-200h.jpeg");
}
.hero-root-class-name1 {
  background-image: url("/playground_assets/servicos-bg-200h.jpeg");
}
.hero-root-class-name2 {
  background-image: url("/playground_assets/contact-bg-200h.jpeg");
}
