.team-element1-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-secondary-300);
}
.team-element1-image {
  max-width: 300px;
  align-self: center;
  min-height: 400px;
  object-fit: cover;
}
.team-element1-container1 {
  align-items: center;
}
.team-element1-text {
  color: var(--dl-color-pimary-900);
  text-align: center;
}
.team-element1-container2 {
  flex: 0 0 auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.team-element1-icon {
  fill: var(--dl-color-secondary-500);
  width: 18px;
  height: 18px;
}
.team-element1-text1 {
  color: var(--dl-color-pimary-900);
  margin-left: var(--dl-space-space-halfunit);
}
.team-element1-container3 {
  flex: 0 0 auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.team-element1-icon2 {
  fill: var(--dl-color-secondary-500);
  width: 18px;
  height: 18px;
}
.team-element1-text2 {
  color: var(--dl-color-pimary-900);
  margin-left: var(--dl-space-space-halfunit);
}
.team-element1-row {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-unitandhalf);
  margin-bottom: var(--dl-space-space-unitandhalf);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.team-element1-text3 {
  color: var(--dl-color-pimary-900);
  width: 75%;
  font-size: 1.125rem;
  text-align: center;
  font-weight: 300;
  line-height: 1.625;
}



