.team-element-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-secondary-300);
}
.team-element-image {
  width: 300px;
  height: 400px;
  align-self: center;
  object-fit: cover;
}
.team-element-container1 {
  flex: 1;
  align-items: center;
}
.team-element-text {
  color: var(--dl-color-pimary-900);
  text-align: center;
}
.team-element-container2 {
  flex: 0 0 auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.team-element-icon {
  fill: var(--dl-color-secondary-500);
  width: 18px;
  height: 18px;
}
.team-element-text1 {
  color: var(--dl-color-pimary-900);
  margin-left: var(--dl-space-space-halfunit);
}
.team-element-container3 {
  flex: 0 0 auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.team-element-icon2 {
  fill: var(--dl-color-secondary-500);
  width: 18px;
  height: 18px;
}
.team-element-text2 {
  color: var(--dl-color-pimary-900);
  margin-left: var(--dl-space-space-halfunit);
}
.team-element-row {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-unitandhalf);
  margin-bottom: var(--dl-space-space-unitandhalf);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.team-element-text3 {
  color: var(--dl-color-pimary-900);
  width: 95%;
  font-size: 1.125rem;
  text-align: center;
  font-weight: 300;
  line-height: 1.625;
}



@media(max-width: 479px) {
  .team-element-container {
    justify-content: center;
  }
}
